#This file contains the files and folders that will not be uploaded even if they change. I use it to discard cache files of python compilation and media files I use for testing

/Deface-GUI_source/__pycache__
/MyTestFiles
